---
import Head from '../../components/Head.astro'
import Footer from '../../components/Footer.astro'  
import Navbar from '../../components/Navbar.astro'
---

<!DOCTYPE html>
<html lang="en">

<Head title="About">
    <link rel="stylesheet" href="styles/about.css">

</Head>

<body>

	<Navbar />

    <main style="max-width: 1300px; margin: 0 auto; padding:0 30px;"> 
	
	<section class="s-one">
		 <h1>SOLO Max.</h1>
		 <h1>Max DELIVERY.</h1>
	</section>

	<section class="s-two">
		<div>
			<h2>Our <br> Mission</h2>
			<ul>
				<li>To create outstanding visual content that promotes business and inspires the world</li>
			</ul>
		</div>

		<div>
			<h2>Our <br> Values</h2>
			<ul>
				<li><b>Max Client:</b> We always build awesome relationships with our clients to deliver the best service</li>

				<li><b>Max Quality:</b> We are focused on quality. because we want you to look at our work any say "This is the MAXimum Quality i can get", because we are the best</li>

				<li><b>Max Team:</b> We are stronger together and as a team we have superpowers to deliver that MAXimum result</li>

				<li><b>Max Ideas:</b> Creativity is in our blood and we strive to transform your vision into Awe' content </li>
			</ul>
		</div>


	</section>


	<section class="s-three">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
			<br><br>
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor in reprehenderit in voluptate velit esse.
			<br><br>
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat sunt in culpa qui officia deserunt mollit anim id est laborum.
			<br><br>
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo Duis aute irure dolor in reprehenderit in voluptate velit esse.
			<br><br>
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
		</p>
	</section>


	<section class="s-four">
		<div>
			<h2>Our Team is ready to <br> start working on your project.<br> What kind of content do <br> you want to create ?</h2>
			<button>Tell Us !</button>		
		</div>
	</section>
	 
	</main>

	<Footer/>

    <script src="/js/main.js" is:inline></script> 

</html>


