/* Montserrat Thin */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Thin.ttf");
    font-weight: 100;
}

/* Montserrat Extra Light */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-ExtraLight.ttf");
    font-weight: 200;
}

/* Montserrat Light */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Light.ttf");
    font-weight: 300;
}

/* Montserrat Regular */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

/* Montserrat Medium */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Medium.ttf");
    font-weight: 500;
}

/* Montserrat Semi-Bold */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
}

/* Montserrat Bold */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Bold.ttf");
    font-weight: 700;
}

/* Montserrat Extra Bold */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-ExtraBold.ttf");
    font-weight: 800;
}

/* Montserrat Black */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Black.ttf");
    font-weight: 900;
}




/* SoDoSans Font Collection */
@font-face { 
	font-family: 'SoDoSans'; 
    src:url("../assets/fonts/SoDoSans-Black.ttf"); 
	font-weight: 900; 
} 


@font-face { 
	font-family: 'SoDoSans'; 
    src:url("../assets/fonts/SoDoSans-Bold.ttf"); 
	font-weight: 700; 
} 


@font-face { 
	font-family: 'SoDoSans'; 
    src:url("../assets/fonts/SoDoSans-Light.ttf"); 
	font-weight: 300; 
} 


@font-face { 
	font-family: 'SoDoSans'; 
    src:url("../assets/fonts/SoDoSans-Regular.ttf"); 
	font-weight: 400; 
} 

@font-face { 
	font-family: 'SoDoSans'; 
    src:url("../assets/fonts/SoDoSans-SemiBold.ttf"); 
	font-weight: 600; 
} 

@font-face { 
	font-family: 'SoDoSans'; 
    src:url("../assets/fonts/SoDoSans-Thin.ttf"); 
	font-weight: 100; 
} 


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');



*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
	font-family:'SoDoSans','Rubik', sans-serif;
	/* font-family: 'SoDoSans',"Helvetica Neue", Helvetica, Arial,sans-serif; */
}

