---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro'
import Head from '../components/Head.astro'
import Navbar from '../components/Navbar.astro'
---

<!DOCTYPE html>

	<html lang="en">

	<Head title="Home">
		<link rel="stylesheet" href="/styles/home.css">
		<script defer src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	</Head>

	<body id="home"> 

	<Navbar/>

	
	<header class="header"  style='bakground-image: url("https://redefinefx.com/wp-content/uploads/2023/08/BG-image-clean.jpg"); background-position: center center; background-repeat: no-repeat;'>
	

	<!-- Background Video -->
	<video autoplay muted loop>
		<source src="/images/rfx.mp4" type="video/mp4">
	</video>


	<div class="middle_text">
		<h1>Cutting-Edge Product Visuals</h1>
		<p>Photorealistic 3D animation | Exploded views | Liquid simulations | Architectural Visualization</p>
		<!-- <small>Based in Nigeria</small> -->
	</div>

	<section id="section-1">
		<a id="scroll-btn" href="#section-1"></a>
	</section>
	
	</header>



	<!-- section one -->
<!-- Section one -->
<section class="section top">
    <div class="section-1-inner-2 animate-text">
        <h2>Unleash Your Creativity with Our Innovative Solutions</h2>
        <p class="animate">Discover endless possibilities with our innovative lighting solutions. From sleek designs to customizable setups.</p>
        <p class="animate">Let your imagination run wild and see your vision come to life with our dedicated team of professionals. </p>
    </div>

    <div class="divider"></div>

    <div class="section-1-inner-1 bg-img" style='background-image:url("https://www.xanegraphics.com/assets/images/14-2000x521.jpg");'>
    </div>
</section>

<!-- Section two -->
<section class="section s2">
    <div class="section-1-inner-1">
        <h2>Timely Delivery - Experience the Best in Animation</h2>
        <p class="animate">At our animation studio, creativity meets efficiency. Our team is committed to delivering high-quality animations that exceed your expectations, on time and within budget.</p>
        <p class="animate">Experience seamless collaboration and reliable service from start to finish. Schedule a consultation today and let's bring your ideas to life!</p>
    </div>

    <div class="divider"></div>

    <div class="section-1-inner-2 bg-img animate-text" style="background-image:url('https://www.xanegraphics.com/assets/images/3-1254x705.jpg');">
    </div>
</section>



	<!--  Trusted By  -->

	<section class="trusted_by">
		<h2>Trusted By</h2>

		<div class="tb-inner">
			<img src="/images/Omoberry.jpg">
			<img src="/images/eaxum.png">
			<img src="/images/bco-main.jpg">
		</div>

	</section>




	<!--  Testimonies -->
	
	 <section class="review-container">

	 	<h2 class="review-text">Testimonials</h2>

	 	<div class="testimonies-container">
		 	<div class="testimony">
	            <p class="review">"We where amazed by the quality of their 3D animations. The attention to detail is outstanding!"</p>
	            <p class="name">John Mike</p>
	            <p class="company">Eaxum Studios</p>
	            <p class="rank">CEO , CCO</p>
	        </div>

	        <div class="testimony">
	            <p class="review">"I was amazed by the quality of their 3D animations. The attention to detail is outstanding!"</p>
	            <p class="name">Sam King</p>
	            <p class="company">Xing Studios</p>
	            <p class="rank">3D Artist</p>
	        </div>
	        <div class="testimony">
	            <p class="review">"The 3D models created by this studio are simply fantastic. They bring our ideas to life."</p>
	            <p class="name">Jane Smith</p>
	            <p class="company">ABC Productions</p>
	            <p class="rank">Creative Director</p>
	        </div>
	        <div class="testimony">
	            <p class="review">"Working with this studio was a game-changer for our projects. Highly recommended!"</p>
	            <p class="name">David Johnson</p>
	            <p class="company">Tech Innovators</p>
	            <p class="rank">CEO</p>
	        </div>
		</div>    
    </section>




	<!-- Contact Us  -->
    <section id="contact" class="contact">
        <h2>Submit Projects</h2>

        <div class="contact_inner">
            <label>
                Name
                <input type="text" name="name" id="name" placeholder="eg. solomax">
            </label>
            <div class="error-message" id="nameError"></div>

            <label>
                Email
                <input type="email" name="email" id="email" placeholder="e.g (solomaxstudios@gmail.com)">
            </label>
            <div class="error-message" id="emailError"></div>

            <label>
                Tell us a bit about your project 
                <textarea id="message" placeholder="Your project description..."></textarea>
            </label>
            <div class="error-message" id="messageError"></div>

            <label class="cad-main">
                Do you have the "CAD" 3D files for your product
                <div class="cad">
                    <label class="radio-container">
                        <input type="radio" name="cadFiles" value="Yes" class="cbGroup" onclick="updateCB(this)">
                        <p>Yes</p>
                    </label>

                    <label class="radio-container">
                        <input type="radio" name="cadFiles" value="No" class="cbGroup" onclick="updateCB(this)">
                        <p>No</p>
                    </label>
                </div>
            </label>
            <div class="error-message" id="cadFilesError"></div>

            <label>
                3 + 4 ?
                <input type="text" name="recaptcha" id="recaptcha" placeholder="">
            </label>
            <div class="error-message" id="recaptchaError"></div>
        </div>

	    <div class="g-recaptcha" data-sitekey="6LcpMD8pAAAAABD1JTSlHtZI0yRI-DaV0lGzNCBG"></div>
	    
		<!-- <form action="?" method="POST">
	      <div class="g-recaptcha" data-sitekey="6LcpMD8pAAAAABD1JTSlHtZI0yRI-DaV0lGzNCBG"></div>
	      <br/>
	      <input type="submit" value="Submit">
	    </form> -->

        <button class="contact_btn" onclick="validateForm()">Send</button>

    </section>




	<!--  Founder Section  -->

<!-- 	<section class="founder">
		<div class="founder_inner inner_one">
			<h2> Founded by an Awarding - Winning 3D Artist</h2>
			<p>Alongside an internal training program, employees are actively supported in acquiring new knowledge and skills, and coached on applying these in their daily work.  </p>
		</div>


		<div class="founder_inner inner_two">
			<h2>100<sup>+</sup></h2>
			<div>
				<p> Projects Completed </p>
				<small> For satisfied clients all over the world </small> 
			</div>

		</div>
	</section> -->



	<!-- Footer Component -->
	<Footer/>


</body>


<script defer src="https://www.google.com/recaptcha/api.js" async defer></script>

<script src="/js/main.js" is:inline></script> 

</html>