<nav class="navbar">
    <div class="navbar_box">

        <div class="nav_img_box">
            <a href="/">
                <img class='logo' src="/images/so-max_Renew.png">
            </a>
        </div>
        
        <div class="navlinks_box">
            
            <img class="navmenu-icon" src="/images/menu (3).svg">
            
            <ul class="nvb">
                <a class="li" href="/">
                    <li class="ls">
                        <img class="li-img" src="/images/new_home.svg">
                        <p>Home</p>
                    </li>
                </a>

                <a class="li" href="/blog">
                    <li class="ls">
                        <img class="li-img reduce" src="/images/new_blog.svg">
                        <p>Blog</p>
                    </li>
                </a>

                  <a class="li" href="/about">
                    <li class="ls">
                        <img class="li-img" src="/images/new_about.svg">
                        <p>About</p>
                    </li>
                </a>

                <a class="li" href="/services">
                    <li class="ls">
                        <img class="li-img" src="/images/new_services.svg">
                        <p>Services</p>
                    </li>
                </a>


                <a class="li" id="projects">
                    <li class="ls">
                       <img class="li-img" src="/images/new_courses.svg">
                       
                       <p class="li">Courses 
                               <img class="caret" src="/images/car-d (3).svg">
                       </p>					
                    </li>
                </a>

   
                <li><a class="last_link" href="#contact">Get a quote</a></li>
            
            </ul>
        </div>

    </div>

    
    <!-- Context Menu -->
    <div class="context-menu" id="contextMenu">
        <ul>
            <li>
                <a href="/courses/youtube" style="display: flex; align-items:center; ">Youtube <img style="margin-left: 10px;" class="li-img" src="/images/youtube-you-tube-video-svgrepo-com.svg"></a>
            </li>

            <li>
                <a href="/courses/premium"  style="display: flex; align-items:center">Premium <img style="margin-left: 10px;" class="li-img" src="/images/new_premium.svg"></a>
            </li>

            <li>
                <a href="/courses/"  style="display: flex; align-items:center">Mentorship <img style="margin-left: 10px;" class="li-img" src="/images/new_mentor.svg"></a>
            </li>
            <!-- <li><a href="./projects/index.html">Arch Viz</a></li> -->
        </ul>
    </div>
</nav>

<style>
    html{
	scroll-behavior: smooth;
}

:root{
	--yellow:#fbffa7;
	--red:#ff764d;
	--lightblue:#b1c5ff;
	--purple:#d5b3ff;
	--green:#b6ffc0;
	--darkblue:#074D85;
}

body{ 
	/* user-select: none; */
	padding: 0;
	margin: 0;
	background-color: white; 
	color: white;
}


/* Header */
.header{
	width: 100%;
	height: calc(100vh + 70px);
	display: flex;
	flex-direction: column;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}



header::before{
	content: "";
	z-index: 8;
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.6);
}


/* Navbar */
.navbar{
	width: 100%;
	height: 70px;
	display: flex;
	background-color: #fcfcfc;
	color: black ;
	position: fixed;
    top: 0px;
    z-index: 200;
    width: 100%;
    transition: all 1s ease-in-out;
    /* transition: background-color .4s linear; */   
}


.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.navmenu-icon{
	width: 45px;
	height: 45px;
	display: none;
}

.navbar_box{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

.nav_img_box{
	width: 180px ;
	/*min-width: 200px;*/
	height: 35px;
	margin-top: 15px;
	display: flex;
	margin-left: 20px;
	border-radius: .2rem;
	justify-content: center;
	align-items: center;
	transition: all .5s ease-in-out;
}

/*  Context */
 .context-menu {
	display: none;
	position: absolute;
	background-color: #fff;
	padding: 10px;
	border-radius: .3rem;
	border: 0px solid #ccc;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	transition: all 4s ease-in-out;
}

.context-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	}

.context-menu li{
	padding: 12px 16px;
	font-weight: 300;
	cursor: pointer;
	border-bottom: 1px solid lightgray;
}
.context-menu li:last-child{
	border-bottom: none;
}

.context-menu li a{
	text-decoration: none;
	color: rgba(0, 0, 0, 95);
}


.context-menu li:hover {
	background-color: #f0f0f0;
}

/* Background video */
video {
  width: 100%;
  height: 100%;
  z-index: 10; /* Push the video behind other content */
  object-fit: cover;
  overflow: hidden;
}


/* Caret */
.caret{
	width: 15px;
	height: 10px;
}


.nav_img_box img{
	width: 100%;
	height:100%;
	object-fit: cover;
	background-size: cover;
}

.nvb{
	display: flex;
	text-decoration:none;
	align-items: center;
	/* padding-right: 10px; */
	max-height: 400px;
	transition: all 1s linear,
}

.navlinks_box li{
	list-style: none;
	margin:0 0 0 25px;
	display: flex;
	align-items: center;
	gap: 4.5px;
	font-size: 15px;	
}

.li-img{
	width: 20px;
	height: 20px;
}

.reduce {
	width: 15px;
	height: 15px;
}


.nvb li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nvb li p {
	margin-top: 5px;
	color: black;
}

.nvb a:-webkit-any-link {
	text-decoration:none;
	color: black; 
}

.last_link {
	padding: 10px 9px !important ;
	border-radius: .2rem; 
	background-color: #0C5395; 
	color: white !important;
	margin: 20px;
	text-align: center;
	font-weight: 500;
}

.last_link a {
	color: white;
}


/* NavLinks Hover state */
.last_link:hover{
	opacity: .85;
}

@media (max-width: 720px){

.navmenu-icon{
	z-index: 944;
	display: flex;
	position: fixed;
	width: 30px;
	height: 30px;
	top:20px;
	right: 30px;
}

.nav_img_box{
	width: 150px ;
	height: 25px;
	position: fixed;
	top: 10px;
	left: 0;
	z-index: 130;
}

.navbar {
	position: sticky;
	top:0;
	/* bottom:0; */
	width:100%;
	background-color: #fcfcfc /*red*/   ;
	align-items: center;
	z-index: 240;
	transition: all .3s ease-in-out;
}

.nvb {
	position: fixed;
	top: 0;
	right: 0;
	padding-top: 65px;
	width: 100%;
	flex-direction: column;
	align-items: center;
	background-color: #fcfcfc;
	height: 700px;
	justify-content: center;
	transition: height 1s ease-in-out;
}

.nav_img_box{
	margin-top: 17px;
	margin-left: 40px;
}

.nvb {
	display: none;
}


.nvb.active {
	display: unset;
}

.bg-oo {
	background-color: transparent !important ;
}

.bg-ol {
	background-color: #fcfcfc !important ;
}


.nvb.active li {
	color: black;
	margin: 0 auto;
	text-align: center;
	gap: 5.5px;
}	


/* Nav Links */
.navlinks_box li a {
	color:black  ;	
}

.nvb li p {
	font-size: 15px;
}

.li-img{
	width: 20px;
	height: 20px;
}


.navlinks_box li{
	padding: 5px 0;
	text-align: center;
	width: 100%;
	justify-content: center;
}

}

</style>