

@font-face { 
	font-family: 'SoDoSans'; 
    src:url("../fonts/SoDoSans-Black.ttf"); 
	font-weight: 900; 
} 


@font-face { 
	font-family: 'SoDoSans'; 
    src:url("../fonts/SoDoSans-Bold.ttf"); 
	font-weight: 700; 
} 


@font-face { 
	font-family: 'SoDoSans'; 
    src:url("../fonts/SoDoSans-Light.ttf"); 
	font-weight: 300; 
} 


@font-face { 
	font-family: 'SoDoSans'; 
    src:url("../fonts/SoDoSans-Regular.ttf"); 
	font-weight: 400; 
} 

@font-face { 
	font-family: 'SoDoSans'; 
    src:url("../fonts/SoDoSans-SemiBold.ttf"); 
	font-weight: 600; 
} 

@font-face { 
	font-family: 'SoDoSans'; 
    src:url("../fonts/SoDoSans-Thin.ttf"); 
	font-weight: 100; 
}


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
	font-family:'SoDoSans',sans-serif;
}

body{
	/*width: 100vw;*/
	min-height: 100vh;
	
}

/* Navbar */
.navbar{
	width: 100%;
	height: 70px;
	display: flex;
	background-color: #f9f9f9;
	background-color: #fcfcfc;
	color: black !important ;
	position: sticky;
    top: 0px;
    left: 0px;
    z-index: 200;
    width: 100%;
    /* transition: top 0.5s ease-in-out;
    transition: background-color .4s linear; */
}

.navmenu-icon{
	width: 45px;
	height: 45px;
	display: none;

}

.navbar_box{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_img_box{
	width: 180px ;
	/*min-width: 200px;*/
	height: 35px;
	margin-top: 15px;
	display: flex;
	margin-left: 20px;
	border-radius: .2rem;
	justify-content: center;
	align-items: center;
	transition: all .5s ease-in-out;
}

.nav_img_box img{
	width: 100%;
	height:100%;
	object-fit: cover;
	background-size: cover;
}

.nvb{
	display: flex;
	text-decoration:none;
	align-items: center;
	padding-right: 10px;
	transition: all 1s linear,
}



.navlinks_box li{
	list-style: none;
	margin:0 14px;
	display: flex;
	align-items: center;
	gap: 4.5px;
	font-size: 16.5px;	
}

.li-img{
	width: 20px;
	height: 20px;
}

.reduce {
	width: 16.5px;
	height: 16.5px;
}

.nvb li {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nvb li p {
	margin-top: 2px;
	color: black;
	font-size: 16px;
}

.nvb a:-webkit-any-link {
	text-decoration:none;
	color: black; 
}

.s-one {
	padding: 50px 20px;
}

.s-one h1 {
	font-weight: 800;
	font-size: 3rem;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.s-two {
	display: flex;
	padding: 80px 20px;
	width: 100%;
	background-color: #f9f9f9;
	/* padding: 0 60px */
}

.s-two ul{
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.s-two ul li{
	line-height: 1.8;
	letter-spacing: 1px;
}

.s-two div{
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 50%;
}

.s-two div h2{
	font-size: 3rem;
	color: #f9f9f9;
	-webkit-text-stroke: 3px black;
	text-stroke: 3px black;
}


.s-three {
	padding: 30px 20px;
	line-height: 1.6;
	font-size: 1.3rem;
	letter-spacing: .9px;
}


.s-four {
	display: flex;
	width: 80%;
	gap:30px;
	margin: 0 auto;
	padding: 30px 15px;
	justify-content: space-around;
	
	/* background-color: red; */
}


.s-four div{
	display: flex;
	gap:30px;
	margin: 0 auto;
	padding: 30px 20px;
	background-color: #f9f9f9;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.s-four div h2{
	padding: 0 30px;
	line-height: 1.5;
	letter-spacing: .08rem;
	/* width: 70%; */
	/* background-color: red; */
}

.s-four div button {
	padding: 20px 30px;
	background-color: #467fbc;
	color: white;
	/* height: 50%; */
	text-align: center;
	font-size: 1.1rem;
	text-transform: uppercase;
}







/*  Footer  */
footer {
	width: 100%;
    background-color: white;
    color: white!important;
    background-color: rgba(0, 0, 0, .95);
    padding: 30px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-logo img {
    width: 150px;
    height:auto;
    margin-bottom: 20px;
}

.footer-links ul,
.footer-info,
.footer-social {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    /* color: white; */
    text-align: center;
}

.footer-links h3{
	/* margin-bottom: 5px; */
}
.footer-links a {
    text-decoration: none;
    color: lightgray;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ff9900;
}

/* .footer-info h3, */
.footer-social h3 {
    font-size: 18px;
    /* margin-bottom: 10px; */
}

.code{
	color: lightgray;
	text-decoration: none;
}

footer b{
	font-weight: bold;
	color: #fcfcfc;
}

.footer-info p {
    font-size: 15px;
    line-height:1.7; 
    color: darkgray;
}

.social-icon {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #ff9900;
}

.footer-social ul{
	list-style: none;
}

.footer-social img {
	width: 40px;
	height:40px;
}


/* Footer 2 */
.footer-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	font-size: 1.1rem;
	background-color:rgba(0, 0, 0, 0.95);
	color: white; 
	border-top: 2px solid rgba(0, 0, 0, 0.25);
	text-align: center;
}








@media screen and (max-width: 768px) {
	
	/*  Navbar */
	.navbar{}

	.navmenu-icon{
		z-index: 944;
		display: flex;
		position: fixed;
		width: 30px;
		height: 30px;
		top:20px;
		right: 30px;
		transition: all 0.5s ease;
	}

	.nvb.active .navmenu-icon{
		transform: rotate(180deg); 
	}

	.nav_img_box{
		width: 150px ;
		height: 25px;
		position: fixed;
		top: 10px;
		left: 0;
		z-index: 120;
	}

	.navbar {
		position: sticky;
		top:0;
		bottom:0;
		width:100%;
		/* height:100vh; */
		background-color: #fcfcfc;
		align-items: center;
		z-index: 100;
	}

	.nvb {
		position: fixed;
		top: 0;
		padding-top: 80px;
		width: 100%;
		flex-direction: column;
		align-items: center;
		background-color: #fcfcfc;
		transition: all .5s ease-in-out;
	}

	.nvb {
		display: none;
	}

	.nvb.active {
		/* height:0px;  */
		display: unset;
	}


	.nvb.active li {
		color: black;
		margin: 0 auto;
		text-align: center;
	}	


	/* Nav Links */
	.navlinks_box li a {
		color:black !important ;
	}

	.footer-content {
        flex-direction: column;
        align-items: center;
        gap:20px;
    }
	.navlinks_box li{
		padding: 10px 0;
		text-align: center;
		width: 100%;
		justify-content: center;
	}

	.s-two {
		flex-direction: column;
		gap: 40px;
	}

	.s-two div {
		width: 100%;

	}

	.s-four div {
		/* width: 50%; */
		padding: 30px 10px;
	}

	.s-four {
		display: flex;
		width: 100%;
		gap:10px;
	}

	.s-four div h2{
		padding: 0 1px;
		line-height: 1.4;
		font-size: 1.2rem;
		font-weight: 600
	}

	.s-four div button {
		padding: 20px 20px;
		/* height: 65%; */
	}
}


