---
import { getCollection } from "astro:content";
import Footer from "../../components/Footer.astro";
import Head from "../../components/Head.astro";
import Navbar from "../../components/Navbar.astro";
import Container from "./_container";
import Space from "../../components/Space.astro";

const premiumPosts = (await getCollection('premiumCourses')).sort(
  (a, b) => (a.data.date?.valueOf() || 0) - (b.data.date?.valueOf() || 0)
);

const premiumImg = '/images/new_premium.svg';

---

<!DOCTYPE html>
<html lang="en">

<Head title="Courses">
    <link rel="stylesheet" href="/styles/courses.css">
    <link rel="stylesheet" href="/styles/services.css">
</Head>

<body>

      
  <Navbar/>

  <Space/>
  <div class="header_title">
    <img class="csh_img" src={premiumImg} alt="Header Image" />
    <h1 class="h1" style={{ color: 'black' }}>
        Premium Courses
    </h1>
  </div>

  
  <Container data={premiumPosts} client:load/>
  

  <Footer/>

  <script src="/js/main.js" is:inline></script>

</body>
</html>./_container